# node / pnpm
node_modules/
.pnpm-store/
pnpm-lock.yaml

# build
dist/
build/
.turbo/
.vite/

# env (절대 커밋 금지)
*.env
prisma/.env
apps/server/.env

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# editor
.vscode/
.idea/
.DS_Store
